@model ObraFacilApp.Models.Eletrica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Eletrica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LigacaoMonofasica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LigacaoMonofasica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LigacaoTrifasica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LigacaoTrifasica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdDisjuntores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdDisjuntores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdTomadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdTomadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicioEletrica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicioEletrica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConclusaoEletrica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConclusaoEletrica)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
