@model ObraFacilApp.Models.EletricaModel

@{
    ViewData["Title"] = "Details";
}

<style>
    .green {
        color: green
    }

    .red {
        color: red
    }

    .progress-bar {
        width: 100%;
        height: 20px;
        background-color: #f0f0f0;
        border-radius: 10px;
        overflow: hidden;
    }

    .progress {
        height: 100%;
        background-color: #4caf50;
        width: 0;
        transition: width 0.3s ease-in-out;
    }
</style>

<div>
    <h4>Elétrica</h4>
    <hr />
    <div class="row">
        <table class="table">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.LigacaoMonofasica)</th>
                    <td>@Model.LigacaoMonofasica</td>
                    <td>@(Model.LigacaoMonofasicaOk ? Html.Raw("<i class='fas fa-check green '></i>") : Html.Raw("<i class='fas fa-times red '></i>"))</td>
                </tr>
                @*<tr>
                    <th>@Html.DisplayNameFor(model => model.LigacaoTrifasica)</th>
                    <td>@Model.LigacaoTrifasica</td>
                    <td>@(Model.LigacaoTrifasicaOk ? Html.Raw("<i class='fas fa-check green '></i>") : Html.Raw("<i class='fas fa-times red '></i>"))</td>
                </tr>*@
                <tr>
                    <th>@Html.DisplayNameFor(model => model.QtdDisjuntores)</th>
                    <td>@Model.QtdDisjuntores</td>
                    <td>@(Model.QtdDisjuntoresOk ? Html.Raw("<i class='fas fa-check green '></i>") : Html.Raw("<i class='fas fa-times red '></i>"))</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.QtdTomadas)</th>
                    <td>@Model.QtdTomadas</td>
                    <td>@(Model.QtdTomadasOk ? Html.Raw("<i class='fas fa-check green '></i>") : Html.Raw("<i class='fas fa-times red '></i>"))</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.QtdLampadas)</th>
                    <td>@Model.QtdLampadas</td>
                    <td>@(Model.QtdLampadasOk ? Html.Raw("<i class='fas fa-check green '></i>") : Html.Raw("<i class='fas fa-times red '></i>"))</td>
                </tr>

                <tr>
                    <th>@Html.DisplayNameFor(model => model.PrevisaoCusto)</th>
                    <td>@Model.PrevisaoCusto</td>
                </tr>

                <tr>
                    <th>@Html.DisplayNameFor(model => model.DataInicioEletrica)</th>
                    <td>@Model.DataInicioEletrica.ToString("dd/MM/yyyy")</td>
                    <td>@(Model.DataInicioEletricaOk ? Html.Raw("<i class='fas fa-check green '></i>") : Html.Raw("<i class='fas fa-times red '></i>"))</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DataConclusaoEletrica)</th>
                    <td>@Model.DataConclusaoEletrica.ToString("dd/MM/yyyy")</td>
                    <td>@(Model.DataConclusaoEletricaOk ? Html.Raw("<i class='fas fa-check green '></i>") : Html.Raw("<i class='fas fa-times red '></i>"))</td>
                </tr>
            </tbody>
        </table>
        <div class="progress-bar">
            <div class="progress" style="text-align:center">
                <span class="progress-percentage w-100">0%</span>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-controller="Etapas" asp-action="Index" asp-route-id="@Model.ProjetoId">Voltar</a>
</div>
@section Scripts
    {
    <script>
        const booleanArray = [@(Model.LigacaoMonofasicaOk.ToString().ToLower()), @(Model.QtdLampadasOk.ToString().ToLower()), @(Model.QtdDisjuntoresOk.ToString().ToLower()), @(Model.QtdTomadasOk.ToString().ToLower()), @(Model.DataInicioEletricaOk.ToString().ToLower()), @(Model.DataConclusaoEletricaOk.ToString().ToLower())];

        function updateProgressBar() {
            const progressBar = document.querySelector('.progress');
            const progressPercentage = (booleanArray.filter(Boolean).length / booleanArray.length) * 100;
            progressBar.style.width = progressPercentage + '%';

            const progressPercentageElement = document.querySelector('.progress-percentage');
            progressPercentageElement.textContent = Math.round(progressPercentage) + '%';
        }

        updateProgressBar(); // Update the progress bar initially
    </script>
    }