@model ObraFacilApp.Models.EletricaModel

@{
    ViewData["Title"] = "Details";
}

<style>
    .green {
        color: green
    }

    .red {
        color: red
    }
</style>

<div>
    <h4>Elétrica</h4>
    <hr />
    <div class="row">
        <table class="table">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.LigacaoMonofasica)</th>
                    <td>@Model.LigacaoMonofasica</td>
                    <td>@(Model.LigacaoMonofasicaOk ? Html.Raw("<i class='fas fa-check green '></i>") : Html.Raw("<i class='fas fa-times red '></i>"))</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.LigacaoTrifasica)</th>
                    <td>@Model.LigacaoTrifasica</td>
                    <td>@(Model.LigacaoTrifasicaOk ? Html.Raw("<i class='fas fa-check green '></i>") : Html.Raw("<i class='fas fa-times red '></i>"))</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.QtdDisjuntores)</th>
                    <td>@Model.QtdDisjuntores</td>
                    <td>@(Model.QtdDisjuntoresOk ? Html.Raw("<i class='fas fa-check green '></i>") : Html.Raw("<i class='fas fa-times red '></i>"))</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.QtdTomadas)</th>
                    <td>@Model.QtdTomadas</td>
                    <td>@(Model.QtdTomadasOk ? Html.Raw("<i class='fas fa-check green '></i>") : Html.Raw("<i class='fas fa-times red '></i>"))</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DataInicioEletrica)</th>
                    <td>@Model.DataInicioEletrica.ToString("dd/MM/yyyy")</td>
                    <td>@(Model.DataInicioEletricaOk ? Html.Raw("<i class='fas fa-check green '></i>") : Html.Raw("<i class='fas fa-times red '></i>"))</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DataConclusaoEletrica)</th>
                    <td>@Model.DataConclusaoEletrica.ToString("dd/MM/yyyy")</td>
                    <td>@(Model.DataConclusaoEletricaOk ? Html.Raw("<i class='fas fa-check green '></i>") : Html.Raw("<i class='fas fa-times red '></i>"))</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-controller="Etapas" asp-action="Index" asp-route-id="@Model.ProjetoId">Voltar</a>
</div>
