@model IEnumerable<ObraFacilApp.Models.EletricaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProjeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LigacaoMonofasica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LigacaoTrifasica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdDisjuntores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdTomadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicioEletrica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataConclusaoEletrica)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LigacaoMonofasica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LigacaoTrifasica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdDisjuntores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdTomadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicioEletrica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataConclusaoEletrica)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-primary" style="background-color:#255f9c" asp-action="Create">Criar</a>
</p>