
<div class="row">

    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
            <img src="~/imagens/etapa1.svg" class="card-img-top mx-auto d-block" alt="..." style="width:130px; height:130px;">
            <div class="card-body">
                <h5 class="card-title">Fundação</h5>
                <p class="card-text">Etapa referente  as informações da fundação do projeto.</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Fundacao" asp-route-id="@Model.Id" asp-action="Create">Criar</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Fundacao" asp-route-id="@Model.Id" asp-action="Edit">Editar</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Fundacao" asp-route-id="@Model.Id" asp-action="Detail">Visualizar</a>
            </div>

        </div>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
            <img src="~/imagens/etapa2.svg" class="card-img-top mx-auto d-block" alt="..." style="width:130px; height:130px;">
            <div class="card-body">
                <h5 class="card-title">Alvenaria</h5>
                <p class="card-text">Etapa referente  as informações da alvenaria do projeto.</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Alvenaria" asp-route-id="@Model.Id" asp-action="Create">Criar</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Alvenaria" asp-route-id="@Model.Id" asp-action="Edit">Editar</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Alvenaria" asp-route-id="@Model.Id" asp-action="Details">Visualizar</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
            <img src="~/imagens/etapa3.png" class="card-img-top mx-auto d-block" alt="..." style="width:130px; height:130px;">
            <div class="card-body">
                <h5 class="card-title">Cobertura</h5>
                <p class="card-text">Etapa referente  as informações da cobertura do projeto</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Cobertura" asp-route-id="@Model.Id" asp-action="Create">Criar</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Cobertura" asp-route-id="@Model.Id" asp-action="Edit">Editar</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Cobertura" asp-route-id="@Model.Id" asp-action="Details">Visualizar</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
            <img src="~/imagens/etapa4.png" class="card-img-top mx-auto d-block" alt="..." style="width:130px; height:130px;">
            <div class="card-body">
                <h5 class="card-title">Elétrica</h5>
                <p class="card-text">Etapa referente  as informações da elétrica do projeto</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Eletrica" asp-route-id="@Model.Id" asp-action="Create">Criar</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Eletrica" asp-route-id="@Model.Id" asp-action="Edit">Editar</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Eletrica" asp-route-id="@Model.Id" asp-action="Details">Visualizar</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
            <img src="~/imagens/etapa5.png" class="card-img-top mx-auto d-block" alt="..." style="width:130px; height:130px;">
            <div class="card-body">
                <h5 class="card-title">Hidraulica</h5>
                <p class="card-text">Etapa referente  as informações da hidraulica do projeto.</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Hidraulica" asp-route-id="@Model.Id" asp-action="Create">Criar</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Hidraulica" asp-route-id="@Model.Id" asp-action="Edit">Editar</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Hidraulica" asp-route-id="@Model.Id" asp-action="Details">Visualizar</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
            <img src="~/imagens/cronograma.png" class="card-img-top mx-auto d-block" alt="..." style="width:130px; height:130px;">
            <div class="card-body">
                <h5 class="card-title">Cronograma</h5>
                <p class="card-text">Informações referente aos prazos de entrega e cronograma da obra.</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Cronograma" asp-route-id="@Model.Id" asp-action="Create">Criar</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Cronograma" asp-route-id="@Model.Id" asp-action="Edit">Editar</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Cronograma" asp-route-id="@Model.Id" asp-action="Details">Visualizar</a>
            </div>
        </div>
    </div>


</div>
