@model ObraFacilApp.Models.HidraulicaModel

@{
    ViewData["Title"] = "Details";
}

<style>
    .green {
        color: green
    }

    .red {
        color: red
    }
</style>

<div>
    <h4>Hidraulica</h4>

    <hr />
    <div class="row">
        <table class="table">
            <tbody>

                <tr>
                    <th>@Html.DisplayNameFor(model => model.QtdTorneiras)</th>
                    <td>@Model.QtdTorneiras</td>
                    <td>@(Model.QtdTorneirasOK ? Html.Raw("<i class='fas fa-check green '></i>") : Html.Raw("<i class='fas fa-times red '></i>"))</td>
                </tr>

                <tr>
                    <th>@Html.DisplayNameFor(model => model.QtdRalos)</th>
                    <td>@Model.QtdRalos</td>
                    <td>@(Model.QtdRalosOK ? Html.Raw("<i class='fas fa-check green '></i>") : Html.Raw("<i class='fas fa-times red '></i>"))</td>
                </tr>

                <tr>
                    <th>@Html.DisplayNameFor(model => model.DataInicioHidraulica)</th>
                    <td>@Model.DataInicioHidraulica.ToString("dd/MM/yyyy")</td>
                    <td>@(Model.DataInicioHidraulicaOK ? Html.Raw("<i class='fas fa-check green '></i>") : Html.Raw("<i class='fas fa-times red '></i>"))</td>
                </tr>

                <tr>
                    <th>@Html.DisplayNameFor(model => model.DataConclusaoHidraulica)</th>
                    <td>@Model.DataConclusaoHidraulica.ToString("dd/MM/yyyy")</td>
                    <td>@(Model.DataConclusaoHidraulicaOK ? Html.Raw("<i class='fas fa-check green '></i>") : Html.Raw("<i class='fas fa-times red '></i>"))</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-controller="Etapas" asp-action="Index" asp-route-id="@Model.ProjetoId">Voltar</a>
</div>
 
