@model IEnumerable<ObraFacilApp.Models.Hidraulica>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <strong>@Html.DisplayNameFor(model => item.IdProjeto)</strong>: @Html.DisplayFor(modelItem => item.IdProjeto)<br />
            <strong>@Html.DisplayNameFor(model => item.QtdTorneiras)</strong>: @Html.DisplayFor(modelItem => item.QtdTorneiras)<br />
            <strong>@Html.DisplayNameFor(model => item.QtdRalos)</strong>: @Html.DisplayFor(modelItem => item.QtdRalos)<br />
            <strong>@Html.DisplayNameFor(model => item.DataInicioHidraulica)</strong>: @Html.DisplayFor(modelItem => item.DataInicioHidraulica)<br />
            <strong>@Html.DisplayNameFor(model => item.DataConclusaoHidraulica)</strong>: @Html.DisplayFor(modelItem => item.DataConclusaoHidraulica)<br />

           <ul style="margin-top:15px; margin-left:initial"> 
                <a class="btn btn-primary" style="background-color:#255f9c" asp-action="Create"  asp-route-id="@item.Id">Criar</a>
                <a class="btn btn-primary" style="background-color:#255f9c" asp-action="Edit"    asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-primary" style="background-color:#255f9c" asp-action="Details" asp-route-id="@item.Id">Visualizar</a>
                <a class="btn btn-primary" style="background-color:#255f9c" asp-action="Delete"  asp-route-id="@item.Id">Excluir</a>
           </ul>
        </li>
    }
</ul>

