@model ObraFacilApp.Models.FundacaoModel

@{
    ViewData["Title"] = "Delete";
    
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Fundacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComprimentoAlicerce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComprimentoAlicerce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlturaAlicerce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlturaAlicerce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdBlocosAlicerce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdBlocosAlicerce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlturaPedra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlturaPedra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComprimentoPedra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComprimentoPedra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlturaVigaBaldrame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlturaVigaBaldrame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComprimentoVigaBaldrame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComprimentoVigaBaldrame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LarguraVigaBaldrame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LarguraVigaBaldrame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetragemCubicaCimentoVigaBaldrama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetragemCubicaCimentoVigaBaldrama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdMicro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdMicro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicioFundacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicioFundacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConclusaoFundacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConclusaoFundacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
