@model ObraFacilApp.Models.FundacaoModel

@{
    ViewData["Title"] = "Details";

}

<div>
    <h4>Fundação</h4>
    <hr />
    <div class="row">
        <table class="table">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ComprimentoAlicerce)</th>
                    <td>@Model.ComprimentoAlicerce</td>
                    <td>@(Model.ComprimentoAlicerceOK ? "Concluído" : "Não concluído")</td>
                </tr>

                <tr>
                    <th>@Html.DisplayNameFor(model => model.AlturaAlicerce)</th>
                    <td>@Model.AlturaAlicerce</td>
                    <td>@(Model.AlturaAlicerceOK ? "Concluído" : "Não concluído")</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.QtdBlocosAlicerce)</th>
                    <td>@Model.QtdBlocosAlicerce</td>
                    <td>@(Model.QtdBlocosAlicerceOK ? "Concluído" : "Não concluído")</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.AlturaPedra)</th>
                    <td>@Model.AlturaPedra</td>
                    <td>@(Model.AlturaPedraOK ? "Concluído" : "Não concluído")</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ComprimentoPedra)</th>
                    <td>@Model.ComprimentoPedra</td>
                    <td>@(Model.ComprimentoPedraOK ? "Concluído" : "Não concluído")</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.AlturaVigaBaldrame)</th>
                    <td>@Model.AlturaVigaBaldrame</td>
                    <td>@(Model.AlturaVigaBaldrameOK ? "Concluído" : "Não concluído")</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ComprimentoVigaBaldrame)</th>
                    <td>@Model.ComprimentoVigaBaldrame</td>
                    <td>@(Model.ComprimentoVigaBaldrameOK ? "Concluído" : "Não concluído")</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.LarguraVigaBaldrame)</th>
                    <td>@Model.LarguraVigaBaldrame</td>
                    <td>@(Model.LarguraVigaBaldrameOK ? "Concluído" : "Não concluído")</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.MetragemCubicaCimentoVigaBaldrama)</th>
                    <td>@Model.MetragemCubicaCimentoVigaBaldrama</td>
                    <td>@(Model.MetragemCubicaCimentoVigaBaldramaOK ? "Concluído" : "Não concluído")</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.QtdMicro)</th>
                    <td>@Model.QtdMicro</td>
                    <td>@(Model.QtdMicroOK ? "Concluído" : "Não concluído")</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DataInicioFundacao)</th>
                    <td>@Model.DataInicioFundacao.ToString("dd/MM/yyyy")</td>
                    <td>@(Model.DataInicioFundacaoOK ? "Concluído" : "Não concluído")</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DataConclusaoFundacao)</th>
                    <td>@Model.DataConclusaoFundacao.ToString("dd/MM/yyyy")</td>

                    <td>@(Model.DataConclusaoFundacaoOK ? "Concluído" : "Não concluído")</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    <div>
    <a asp-controller="/Etapas/" asp-route-id="@Model.Id">Voltarrrrrrrrrrrrrrr</a>
    </div>
