@model ObraFacilApp.Models.Fundacao

@{
    ViewData["Title"] = "Details";
    
}

<div>
    <h4>Fundação</h4>
    <hr />
    <div class="row">
        <table class="table">
  <tbody>
    <tr>
      <th>@Html.DisplayNameFor(model => model.ComprimentoAlicerce)</th>
      <td>@Model.ComprimentoAlicerce</td>
      <td>@Model.ComprimentoAlicerceOK</td>
    </tr>
                
    <tr>
      <th>@Html.DisplayNameFor(model => model.AlturaAlicerce)</th>
      <td>@Model.AlturaAlicerce</td>
    </tr>
    <tr>
      <th>@Html.DisplayNameFor(model => model.QtdBlocosAlicerce)</th>
      <td>@Model.QtdBlocosAlicerce</td>
    </tr>
    <tr>
      <th>@Html.DisplayNameFor(model => model.AlturaPedra)</th>
      <td>@Model.AlturaPedra</td>
    </tr>
    <tr>
      <th>@Html.DisplayNameFor(model => model.ComprimentoPedra)</th>
      <td>@Model.ComprimentoPedra</td>
    </tr>
    <tr>
      <th>@Html.DisplayNameFor(model => model.AlturaVigaBaldrame)</th>
      <td>@Model.AlturaVigaBaldrame</td>
    </tr>
    <tr>
      <th>@Html.DisplayNameFor(model => model.ComprimentoVigaBaldrame)</th>
      <td>@Model.ComprimentoVigaBaldrame</td>
    </tr>
    <tr>
      <th>@Html.DisplayNameFor(model => model.LarguraVigaBaldrame)</th>
      <td>@Model.LarguraVigaBaldrame</td>
    </tr>
    <tr>
      <th>@Html.DisplayNameFor(model => model.MetragemCubicaCimentoVigaBaldrama)</th>
      <td>@Model.MetragemCubicaCimentoVigaBaldrama</td>
    </tr>
    <tr>
      <th>@Html.DisplayNameFor(model => model.QtdMicro)</th>
      <td>@Model.QtdMicro</td>
    </tr>
    <tr>
      <th>@Html.DisplayNameFor(model => model.DataInicioFundacao)</th>
      <td>@Model.DataInicioFundacao</td>
    </tr>
    <tr>
      <th>@Html.DisplayNameFor(model => model.DataConclusaoFundacao)</th>
      <td>@Model.DataConclusaoFundacao</td>
    </tr>
  </tbody>
</table>


        <div class="col-md-4">
                <form asp-action="Details">       
                <div class="form-group">
                    <label asp-for="ComprimentoAlicerce" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="AlturaAlicerce" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="QtdBlocosAlicerce" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="AlturaPedra" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="ComprimentoPedra" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="AlturaVigaBaldrame" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="ComprimentoVigaBaldrame" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="LarguraVigaBaldrame" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="MetragemCubicaCimentoVigaBaldrama" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="QtdMicro" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="DataInicioFundacao" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="DataConclusaoFundacao" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                </form>
        </div>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
