@model IEnumerable<ObraFacilApp.Models.Fundacao>

@{
    ViewData["Title"] = "Index";
    
}

<h1>Fundação</h1>

<form>
    <table class="table">
        <thead>
            <tr>
                <th>Comprimento Alicerce</th>
                <td><input type="text" name="ComprimentoAlicerce"></td>
                <th>Altura Alicerce</th>
                <td><input type="text" name="AlturaAlicerce"></td>
                <th>Quantidade de Blocos Alicerce</th>
                <td><input type="text" name="QtdBlocosAlicerce"></td>
                <th>Altura Pedra</th>
                <td><input type="text" name="AlturaPedra"></td>
                <th>Comprimento Pedra</th>
                <td><input type="text" name="ComprimentoPedra"></td>
                <th>Altura Viga Baldrame</th>
                <th>Comprimento Viga Baldrame</th>
                <td><input type="text" name="AlturaVigaBaldrame"></td>
                <th>Largura Viga Baldrame</th>
                <td><input type="text" name="ComprimentoVigaBaldrame"></td>
                <th>Metragem Cúbica Cimento Viga Baldrame</th>
                <td><input type="text" name="LarguraVigaBaldrame"></td>
                <th>Quantidade de Micro Estacas</th>
                <td><input type="text" name="MetragemCubicaCimentoVigaBaldrama"></td>
                <th>Data de Início da Fundação</th>
                <th>Data de Conclusão da Fundação</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="QtdMicro"></td>
                <td><input type="date" name="DataInicioFundacao"></td>
                <td><input type="date" name="DataConclusaoFundacao"></td>
                <td><button type="submit">Enviar</button></td>
            </tr>
        </tbody>
    </table>
</form>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComprimentoAlicerce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlturaAlicerce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdBlocosAlicerce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlturaPedra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComprimentoPedra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlturaVigaBaldrame)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComprimentoVigaBaldrame)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LarguraVigaBaldrame)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetragemCubicaCimentoVigaBaldrama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdMicro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicioFundacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataConclusaoFundacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>

