@model IEnumerable<ObraFacilApp.Models.LoginModel>

@{
    ViewData["Title"] = "Index";
}

<div style="background-color: #FFF; border-radius: 4px; padding: 15px;">
    <h4>Usuários</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
                    <td>
                        @foreach (char c in item.Senha) {
                            @Html.Raw("&#8226;") <!-- Exibe um ponto (•) para cada caractere da senha -->
                        }
                    </td>

            <td>
                @Html.DisplayFor(modelItem => item.isAdmin)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit" style="color:blue"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info" style=" color:green"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash" style=" color:gray"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
    <p>
        <a asp-action="Create"><i class="fa-solid fa-circle-plus" style="color:green"></i></a>
    </p>
<div>
        <a asp-controller="Logar" asp-action="Index">Sair</a>
</div>
</div>