@model ObraFacilApp.Models.ProjetoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Projeto</h4>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            @Html.DisplayNameFor(model => model.NomeProjeto)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responsavel)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailResponsavel)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustoMetro)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConclusao)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-primary" style="background-color:#255f9c" asp-route-id="@Model?.Id" asp-controller="Etapas" asp-action="Index">Etapas</a>
</p>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Voltar</a>
</div>

