@model IEnumerable<ObraFacilApp.Models.ProjetoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Projetos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProjeto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.NomeProjeto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a> |
                <a asp-controller="Etapas" asp-route-id="@item.Id">Etapas</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-primary" style="background-color:#255f9c" style="background-color:#255f9c"Logar asp-action="Create">Criar novo projeto </a>
</p>