@model IEnumerable<ObraFacilApp.Models.ProjetoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Projetos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProjeto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.NomeProjeto)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit" style="color:blue"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info" style=" color:green"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash" style=" color:gray"></i></a> |
                    <a asp-controller="Etapas" asp-route-id="@item.Id" class="btn btn-primary" style="background-color:#255f9c;padding: 5px 10px;">Etapas</a>
                                                           
                </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-primary" style="background-color:#255f9c" style="background-color:#255f9c; width: 100px" Logar asp-action="Create">Criar novo projeto </a>

</p>