@model ObraFacilApp.Models.AlvenariaModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Certeza que deseja excluir?</h3>
<div>
    <h4>Alvenaria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjetoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjetoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdBlocos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdBlocos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlturaBloco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlturaBloco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComprimentoBlocos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComprimentoBlocos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdPilares)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdPilares)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicioAlvenaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicioAlvenaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConclusaoAlvenaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConclusaoAlvenaria)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
