@model ObraFacilApp.Models.AlvenariaModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Alvenaria</h4>
    <hr />
    <div class="row">
        <table class="table">
            <tbody>
                <tr>
                    <td class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ProjetoId)
                        <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck" name="materLogado">
                    </td>
                    <td class="col-sm-10">
                        @Html.DisplayFor(model => model.ProjetoId)
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-2">
                        @Html.DisplayNameFor(model => model.QtdBlocos)
                    </td>
                    <td class="col-sm-10">
                        @Html.DisplayFor(model => model.QtdBlocos)
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AlturaBloco)
                    </td>
                    <td class="col-sm-10">
                        @Html.DisplayFor(model => model.AlturaBloco)
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ComprimentoBlocos)
                    </td>
                    <td class="col-sm-10">
                        @Html.DisplayFor(model => model.ComprimentoBlocos)
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-2">
                        @Html.DisplayNameFor(model => model.QtdPilares)
                    </td>
                    <td class="col-sm-10">
                        @Html.DisplayFor(model => model.QtdPilares)
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DataInicioAlvenaria)
                    </td>
                    <td class="col-sm-10">
                        @Html.DisplayFor(model => model.DataInicioAlvenaria)
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DataConclusaoAlvenaria)
                    </td>
                    <td class="col-sm-10">
                        @Html.DisplayFor(model => model.DataConclusaoAlvenaria)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Voltar</a>
</div>
