@model ObraFacilApp.Models.AlvenariaModel

@{
    ViewData["Title"] = "Edit";
}
<style>
    .image-container {
        display: flex;
        width: 1300px;
        overflow: scroll;
    }

        .image-container img {
            flex: 1;
            margin-right: 10px;
            height: 300px;
            width: 600px;
        }

    .progress-bar {
        width: 100%;
        height: 20px;
        background-color: #f0f0f0;
        border-radius: 10px;
        overflow: hidden;
    }

    .progress {
        height: 100%;
        background-color: #4caf50;
        width: 0;
        transition: width 0.3s ease-in-out;
    }
</style>
<h1>Alvenaria</h1>

<h4>Editar</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Edit">
            <div class="col-md-4">
                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <input type="hidden" asp-for="ProjetoId" value="@Model.ProjetoId" />


                <div class="form-group">
                    <label asp-for="MetrosDeParede" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="MetrosDeParede" class="form-control mr-2" />
                        <span class="input-group-addon" style="margin-left:10px">
                            <input class="form-check-input" type="checkbox" asp-for="MetrosDeParedeOK">
                        </span>
                    </div>
                    <span asp-validation-for="MetrosDeParede" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="AlturaBloco" class="control-label"></label>
                    <input asp-for="AlturaBloco" class="form-control" />
                    <span asp-validation-for="AlturaBloco" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ComprimentoBlocos" class="control-label"></label>
                    <input asp-for="ComprimentoBlocos" class="form-control" />
                    <span asp-validation-for="ComprimentoBlocos" class="text-danger"></span>

                </div>

                @*--------------------Resultado do calculo js------------------------------*@
                <div id="resultadoBlocos" style="font-weight: bold;"></div>

                <div class="form-group">
                    <label asp-for="QtdBlocos" class="control-label"></label>
                    <div class="input-group">
                        <span asp-validation-for="QtdBlocosOk" class="text-danger"></span>
                        <span class="input-group-addon" style="margin-left:10px">
                            <input class="form-check-input" type="checkbox" asp-for="QtdBlocosOk">
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="QtdPilares" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="QtdPilares" class="form-control" />
                        <span asp-validation-for="QtdPilares" class="text-danger"></span>
                        <span class="input-group-addon" style="margin-left:10px">
                            <input class="form-check-input" type="checkbox" asp-for="QtdPilaresOk">
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="QtdPilares" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="QtdPilares" class="form-control" />
                        <span asp-validation-for="QtdPilares" class="text-danger"></span>
                        <span class="input-group-addon" style="margin-left:10px">
                            <input class="form-check-input" type="checkbox" asp-for="QtdPilaresOk">
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="PrevisaoCusto" class="control-label"></label>

                    <input asp-for="PrevisaoCusto" class="form-control" />

                </div>

                <div class="form-group">
                    <label asp-for="DataInicioAlvenaria" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="DataInicioAlvenaria" type="date" class="form-control " />
                        <span asp-validation-for="DataInicioAlvenaria" type="date" class="text-danger"></span>
                        <span class="input-group-addon" style="margin-left:10px">
                            <input class="form-check-input" type="checkbox" asp-for="DataInicioAlvenariaOk">
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DataConclusaoAlvenaria" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="DataConclusaoAlvenaria" type="date" class="form-control" />
                        <span asp-validation-for="DataConclusaoAlvenaria" class="text-danger"></span>
                        <span class="input-group-addon" style="margin-left:10px">
                            <input class="form-check-input" type="checkbox" asp-for="DataConclusaoAlvenariaOk">
                        </span>
                    </div>
                    <br />
                </div>
               
                <div class="form-group" style="margin-top: 15px">
                    <input asp-for="UploadAlvenaria" type="file" name="UploadAlvenaria" value="UploadAlvenaria" multiple />

                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-primary" style="background-color:#255f9c" />
                </div>
                <br />
            </div>
        </form>
        <div class="progress-bar">
            <div class="progress" style="text-align:center">
                <span class="progress-percentage w-100">0%</span>
            </div>
        </div>
        <br />
    </div>
</div>

<div>
    <a asp-controller="Etapas" asp-action="Index" asp-route-id="@Model.ProjetoId">Voltar</a>
</div>
@section Scripts
    {
    <script>
        const booleanArray = [@(Model.MetrosDeParedeOK.ToString().ToLower()), @(Model.QtdBlocosOk.ToString().ToLower()), @(Model.QtdPilaresOk.ToString().ToLower()), @(Model.DataInicioAlvenariaOk.ToString().ToLower()), @(Model.DataConclusaoAlvenariaOk.ToString().ToLower())];

        function updateProgressBar() {
            const progressBar = document.querySelector('.progress');
            const progressPercentage = (booleanArray.filter(Boolean).length / booleanArray.length) * 100;
            progressBar.style.width = progressPercentage + '%';

            const progressPercentageElement = document.querySelector('.progress-percentage');
            progressPercentageElement.textContent = Math.round(progressPercentage) + '%';
        }

        updateProgressBar(); // Update the progress bar initially
    </script>

    <script>
        $(document).ready(function () {
            var calcularQuantidadeBlocos = function () {
                var metrosDeParede = parseFloat($("#MetrosDeParede").val());
                var alturaBloco = parseFloat($("#AlturaBloco").val());
                var comprimentoBlocos = parseFloat($("#ComprimentoBlocos").val());

                var qtdBlocos = metrosDeParede / (alturaBloco * comprimentoBlocos);
                var qtdBlocosInteiro = Math.floor(qtdBlocos);

                var frase = "Necessário uma média de ";
                $('#resultadoBlocos').text(frase + qtdBlocosInteiro + " blocos");
            };

            $('#MetrosDeParede, #AlturaBloco, #ComprimentoBlocos').on('input', function () {
                calcularQuantidadeBlocos();
            });

            calcularQuantidadeBlocos();
        });
    </script>

    }
