@model ObraFacilApp.Models.CoberturaModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cobertura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TamanhoCobertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TamanhoCobertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PossueLaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PossueLaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EspessuraLaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EspessuraLaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicioCobertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicioCobertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConclusaoCobertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConclusaoCobertura)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Voltar</a>
</div>
