@model ObraFacilApp.Models.CoberturaModel

@{
    ViewData["Title"] = "Details";
}

<style>
    .green {
        color: green
    }

    .red {
        color: red
    }
</style>

<div>
    <h4>Cobertura</h4>
    <hr />
    <div class="row">
        <table class="table">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.TamanhoCobertura)</th>
                    <td>@Model.TamanhoCobertura</td>
                    <td>@(Model.TamanhoCoberturaOK ? Html.Raw("<i class='fas fa-check green '></i>") : Html.Raw("<i class='fas fa-times red '></i>"))</td>
                </tr>
                <tr>
                    <th>@Html.DisplayFor(model => model.PossueLaje)</th>
                    <td>@(Model.PossueLaje ? Html.Raw("Sim") : Html.Raw("Não"))</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.EspessuraLaje)</th>
                    <td>@Model.EspessuraLaje</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DataInicioCobertura)</th>
                    <td>@Model.DataInicioCobertura.ToString("dd/MM/yyyy")</td>
                    <td>@(Model.DataInicioCoberturaOK ? Html.Raw("<i class='fas fa-check green '></i>") : Html.Raw("<i class='fas fa-times red '></i>"))</td>
                </tr>
                <tr>
                    <th>@Html.DisplayFor(model => model.DataConclusaoCobertura)</th>
                    <td>@Model.DataConclusaoCobertura.ToString("dd/MM/yyyy")</td>
                    <td>@(Model.DataConclusaoCoberturaOK ? Html.Raw("<i class='fas fa-check green '></i>") : Html.Raw("<i class='fas fa-times red '></i>"))</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-controller="Etapas" asp-action="Index" asp-route-id="@Model.ProjetoId">Voltar</a>
</div>
